@media all and (max-width: 480px) {
    header {
        display: none;
    }

    body {
        margin: 0;
        padding: 0;
    }

    main {
        width: 100%;
    }


    #tabs {
        width: 100%;
        margin: 1.2rem auto;
    }

    .tabs {
        margin-top: 3.5rem;
        padding: 1rem;
    }

    .tabs div {
        margin-top: 2rem;
        width: 100%;
        border-radius: 2rem;
    }

    #tab4 {
        width: 100%;
    }

    #tabs > div > div:nth-child(1) {
        padding: 0 1rem 0 1rem;
    }

    #tabs > label > span > i{
        display: inline-block;
    }

    #tabs > label {
        display: block;
        border: 2px solid #e5e5e5;
        border-radius: 50%;
        height: 6rem;
        width: 6rem;
        text-align: center;
        background: #f5f6f7;
        color: #606060;
        margin: 0 auto;
        line-height: 3rem;
        font-size: 2rem;
        position: relative;
        left: 25%;

    }

    #tabs > div > div:nth-child(1), #tabs > div > div:nth-child(2), #tabs > div > div:nth-child(3), #tab4 {
        width: 96%;
        padding: 0.5rem 1rem 0 1rem;

    }

    .txt {
        display: none;
    }

    p {
        font-size: 14px;
    }

    .tabs .onoffswitch {
        position: relative;
        width: 115px;
        left: 18px;
        top: -12px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    .tabs .onoffswitch-inner:before, .onoffswitch-inner:after {
        font-size: 12px;
    }

    #tabs .fieldValue1 {
        left: 2px;
        width: 8rem;
    }

    #tabs .fieldValue2 {
        left: 108px;
        width: 8rem;
    }

    #tabs .fieldValue3 {
        left: 118px;
        width: 8rem;
    }

    #tabs .fieldValue4 {
        left: 69px;
        width: 8rem;
    }

    #tabs .fieldValue5 {
        left: 16px;
        width: 8rem;
    }

    #tabs .fieldValue6 {
        left: 131px;
        width: 8rem;
    }

    #tabs .fieldValue7 {
        left: 147px;
        width: 8rem;
    }

    #sums {
        left: 18px;
        width: 12rem;
    }

    #tabs .sumButton {
        left: 150px;
        padding: 8px 13px;
        font-size: 14px;
        box-shadow: 0 4px #999;
        z-index: 1;
    }


    #tabs .arrowBtn {
        left: -63px;
        top: -54px;
        font-size: 12px;
        padding: 10px 13px;
        z-index: 0;
    }

    #tabs > div > div:nth-child(2) > form > p:nth-child(1) > input, #tabs > div > div:nth-child(3) > form > p:nth-child(1) > input {
        width: 8rem;
        left: 82px;
    }

    #sumA, #sumB {
        width: 12rem;
        left: 18px;
    }

    #obshtaZarabotka {
        width: 8rem;
        left: 78px;
    }

    #tab4 > form > p:nth-child(3) > input {
        width: 8rem;
        left: 136px;
    }

    #tab4 > form > p:nth-child(5) > input {
        width: 8rem;
        left: 130px;
    }

    #tab4 > form > p:nth-child(7) > input {
        width: 8rem;
        left: 92px;
    }

    #tab4 > form > p:nth-child(13) > input {
        width: 25rem;
        left: 2px;
    }

    #tabs .clearButton{
        font-size: 12px;
        padding: 10px 10px;
    }

}